{% extends "mainmenu.html" %}

{% block title %}{{ building.name }}. Расписание занятий{% endblock %}
{% block head %}
{% endblock %}
{% block breadcrubs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('page_get_schedules_buildings_page') }}">Учебные корпуса</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ building.name }}. Расписание занятий</li>
  </ol>
</nav>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='js/datatables.js') }}"></script>
<script type="text/javascript">
  $.fn.dataTable.ext.buttons.today = {
    text: 'Сегодня',
    action: function ()
    {
        window.location.href = "{{ url_for('page_get_building_schedule_page', id=building.id)}}?date_from=" + getCurrentDay().start + "&date_to=" + getCurrentDay().end;
    }
  };
  $.fn.dataTable.ext.buttons.week = {
    text: 'На этой неделе',
    action: function ()
    {
        window.location.href = "{{ url_for('page_get_building_schedule_page', id=building.id)}}?date_from=" + getCurrentWeek().start + "&date_to=" + getCurrentWeek().end;
    }
  };
  $.fn.dataTable.ext.buttons.month = {
    text: 'В этом месяце',
    action: function ()
    {
        window.location.href = "{{ url_for('page_get_building_schedule_page', id=building.id)}}?date_from=" + getCurrentMonth().start + "&date_to=" + getCurrentMonth().end;
    }
  };
  $.fn.dataTable.ext.buttons.all = {
    text: 'Всё расписание',
    action: function ()
    {
        window.location.href = "{{ url_for('page_get_building_schedule_page', id=building.id)}}";
    }
  };
  $.fn.dataTable.ext.buttons.create = {
    text: '<i class="fa fa-file-o" aria-hidden="true"></i> Создать',
    className: 'dt-button-create',
    action: function ()
    {
        window.location.href = "";
    }
  };
 new DataTable('#data', {
   lengthMenu: [
      { label: '10', value: 10 },
      { label: '25', value: 25 },
      { label: '50', value: 50 },
      { label: '100', value: 100 },
      { label: '500', value: 500 },
      { label: '1000', value: 1000 },
      { label: 'Показать все', value: -1 }
    ],
   layout: {
       topEnd: {
        buttons: ['create', 'excel', {
          text: '<i class="fa fa-filter" aria-hidden="true"></i>',
          action: function () {
          },
          split: ['today', 'week', 'month', 'all']
        }]
       }
   },
});
</script>
<script type="text/javascript">
  function setTextById(id, text, useHTML = false) {
    const el = document.getElementById(id);
    if (!el) {
      console.warn(`Element with id="${id}" not found`);
      return false;
    }
    if (useHTML)
      el.innerHTML = text;
    else
      el.textContent = text;
    return true;
  }

  const pad = n => String(n).padStart(2, '0');
  const formatDate = d => {
    const D = new Date(d);
    return `${D.getFullYear()}-${pad(D.getMonth()+1)}-${pad(D.getDate())}`;
  };

  // 1) Текущий день
  function getCurrentDay(now = new Date()) {
    const cur = new Date(now);
    const date = formatDate(cur);
    return { start: date, end: date };
  }

  // 2) Текущая неделя (weekStartsOn: 0=Sun,1=Mon,...)
  function getCurrentWeek(now = new Date(), weekStartsOn = 0) {
    const cur = new Date(now);
    const wDay = cur.getDay();
    const diff = (wDay - weekStartsOn + 7) % 7;
    const weekStart = new Date(cur.getFullYear(), cur.getMonth(), cur.getDate() - diff);
    const weekEnd = new Date(weekStart.getFullYear(), weekStart.getMonth(), weekStart.getDate() + 6);
    return { start: formatDate(weekStart), end: formatDate(weekEnd) };
  }

  // 3) Текущий месяц
  function getCurrentMonth(now = new Date()) {
    const cur = new Date(now);
    const monthStart = new Date(cur.getFullYear(), cur.getMonth(), 1);
    const monthEnd = new Date(cur.getFullYear(), cur.getMonth() + 1, 0);
    return { start: formatDate(monthStart), end: formatDate(monthEnd) };
  }
</script>
{% endblock %}

{% block content %}
<table id="data" class="display">
    <thead>
        <tr>
            <th>Дисциплина</th>
            <th>Дата и время</th>
            <th>Группа</th>
            <th>Преподаватель</th>
            <th>Кабинет</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <form class="" action="index.html" method="post">
          <tr>
              <td><a href="{{ url_for('page_get_building_schedule_info_page', id=schedule.id, building_id=building.id) }}">{{ schedule.subject }}</a></td>
              <td>{{ schedule.timestamp_start.strftime('%d.%m.%Y %H:%M') }}-{{ schedule.timestamp_end.strftime('%H:%M') }}</td>
              <td class="text-center">{{ schedule.group_name }}</td>
              <td class="text-center">{{ schedule.teacher_name }}</td>
              <td class="text-center">{{ schedule.classroom_name }}</td>
              <td class="text-center">
                {% if schedule.status == 0 %}
                  <span class="badge badge-secondary">Не началось</span>
                {% elif schedule.status == 1 %}
                  <span class="badge badge-warning">В процессе</span>
                {% else %}
                  <span class="badge badge-success">Завершено</span>
                {% endif %}
              </td>
              <th class="text-center">
                <!-- <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a> -->
                <a href="{{ url_for('page_get_building_schedule_info_page', id=schedule.id, building_id=building.id) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </th>
          </tr>
        </form>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
