{% extends "mainmenu.html" %}

{% block container %}-xxl{% endblock %}

{% block head %}
  <script src="{{ url_for('static', path='js/script_activemonitoring.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script defer src="{{ url_for('static', path='js/reader.js') }}"></script>
  <script>
      function getCookie(name) {
      const cookieValue = document.cookie
              .split('; ')
              .find((row) => row.startsWith(`${name}=`))
              ?.split('=')[1]; // The optional chaining operator (?) is used here

          return cookieValue || null;
      }
      const access_token = getCookie('access_token');
      // console.log(token);
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let busy = false;

      const updateLabel = (cb) => {
        if (!cb) return;
        const lab = cb.closest('label') || (cb.id && document.querySelector(`label[for="${cb.id}"]`));
        if (lab) lab.classList.toggle('active', !!cb.checked);
      };

      // инициализация
      document.querySelectorAll('input[type="checkbox"][data-group]').forEach(cb => updateLabel(cb));

      document.addEventListener('change', (e) => {
        const src = e.target;
        if (busy) return;
        if (!src.matches('input[type="checkbox"][data-group]')) return;
        const grp = src.dataset.group;
        const checked = !!src.checked;
        const others = document.querySelectorAll(`input[type="checkbox"][data-group="${grp}"]`);
        busy = true;
        others.forEach(cb => {
          cb.checked = checked;
          updateLabel(cb);
        });
        busy = false;
      });
    });
  </script>

  <script>
    function collectValuesByPrefix(prefix) {
        // ВАЖНО: Весь селектор должен быть строкой в кавычках ` `
        const selector = `input[type="checkbox"][id^="cam-${prefix}-"]`;

        return Array.from(document.querySelectorAll(selector))
            .filter(cb => cb.checked)
            .map(cb => cb.value)
            .join(",");
    }

    function updateIncidentTypeIds(prefix) {
        // Собираем цифры из ID чекбоксов (например '1' из 'type-inc-alert-1')
        const selector = `input[type="checkbox"][id^="type-${prefix}-"]`;
        const checkedValues = Array.from(document.querySelectorAll(selector))
            .filter(cb => cb.checked)
            .map(cb => cb.id.split('-').pop())
            .join(",");

        const hiddenInput = document.querySelector(`.type_ids_${prefix}`);
        if (hiddenInput) {
            hiddenInput.value = checkedValues;
        }
        // console.log(checkedValues);
    }

    function updateInputs(prefix) {
        const str = collectValuesByPrefix(prefix);

        const selector = prefix === "control"
            ? "input.cameras_ids_control"
            : "input.cameras_ids_inc";

        document.querySelectorAll(selector).forEach(inp => {
            inp.value = str;
        });
    }

    document.addEventListener("change", (e) => {
        // Проверяем, что кликнули именно по нужному чекбоксу
        updateInputs("control");
        updateInputs("inc");

        // Логика инцидентов (Текст + ID)
        if (e.target.matches(`input[type="checkbox"][id^="type-"]`)) {
            const checkbox = e.target;
            const textToManage = checkbox.value.trim();
            const container = checkbox.closest('.row');
            const textarea = container.querySelector('.control-panel-details-textarea');

            if (checkbox.checked) {
                // Добавление текста
                if (textarea.value.trim() === "") {
                    textarea.value = textToManage;
                } else {
                    const lines = textarea.value.split('\n').map(l => l.trim());
                    if (!lines.includes(textToManage)) {
                        textarea.value += '\n' + textToManage;
                    }
                }
            } else {
                // Удаление текста
                const lines = textarea.value.split('\n');
                const filteredLines = lines.filter(line => line.trim() !== textToManage);
                textarea.value = filteredLines.join('\n');
            }

            // Обновляем скрытое поле с ID инцидентов
            updateIncidentTypeIds("control");
            updateIncidentTypeIds("inc");
        }

    });

    document.addEventListener("DOMContentLoaded", () => {
        updateInputs("control");
        updateInputs("inc");
    });
  </script>

{% endblock %}

{% block content %}


      <!--Section: Content-->
      <div class="row m-0">
        <div class="col-9 p-0">
          <div class="video-wall {% if len_cameras == 2 %} d-flex {% endif %}">
              {% for camera in cameras %}
                {% if cameras.index(camera) < 5 %}
                  {% if cameras.index(camera) in (0, 2) %}
                    <div class="video-wall-string d-flex {% if len_cameras == 1 %} h-100 {% endif %}">
                  {% endif %}
                    <div class="video {% if len_cameras == 1 %} w-100 {% endif %} d-inline">
                    <!-- <a href="#" data-toggle="modal" data-target="#cam{{ cameras.index(camera) + 1 }}"><img src="/camera_view/{{ camera.id }}" alt=""></a> -->
                    <!-- <video id="camera_{{ camera.id }}" controls muted autoplay width="640" height="480"></video> -->
                      <div class="btn-group-toggle" data-toggle="buttons" style="position: absolute;">
                        <label class="btn btn-secondary camera_num_title active" id="lab{{ camera.id }}">
                          <input type="checkbox" data-group="#camera_g{{ camera.id }}" checked> {{ cameras.index(camera) + 1 }}
                        </label>
                      </div>
                      <video id="camera_{{ camera.id }}" controls muted autoplay ></video>
                      <script>
                        let reader_{{ camera.id }} = null;

                        window.addEventListener("load", () => {
                            reader_{{ camera.id }} = new MediaMTXWebRTCReader({
                            url: "https://{{ request.base_url.hostname }}/media/{{ camera.id }}/whep",
                            token: access_token, // fill if needed
                            onError: (err) => {
                                console.error(err);
                            },
                            onTrack: (evt) => {
                                document.getElementById("camera_{{ camera.id }}").srcObject = evt.streams[0];
                            },
                            onDataChannel: (evt) => {
                                evt.channel.binaryType = "arraybuffer";
                                evt.channel.onmessage = (evt) => {
                                console.log("data channel message", evt.data);
                                };
                            },
                            });
                        });

                        window.addEventListener("beforeunload", () => {
                            if (reader !== null) {
                            reader.close();
                            }
                        });
                      </script>
                  </div>
                  {% if (cameras.index(camera) in (1, 3)) or (cameras.index(camera) + 1 == len_cameras) %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
          </div>
          <div class="row m-0">
            <div class="col-4 pl-3 pr-0 pt-3 m-0">
              <div class="control-panel-meta">
                <div class="control-panel-meta-head">
                  Информация
                  <hr class="mt-1">
                </div>
                <div class="control-panel-meta-data overflow-y" style="word-wrap: anywhere;">
                  <b>Кабинет:</b> {{ monitoring_data.current_classroom }}<br>
                  <b>Корпус:</b> {{ monitoring_data.current_building}}<br>
                  <br>
                  <b>Занятие:</b><br>
                  {{ monitoring_data.current_subject }}<br>
                  <b>Время занятия:</b> {{ monitoring_data.timestamp_start.strftime('%H:%M') }} - {{ monitoring_data.timestamp_end.strftime('%H:%M') }}<br>
                  <b>Преподаватель:</b><br>
                  {{ monitoring_data.current_teacher }}<br>
                  <b>Группа:</b><br>
                  {{ monitoring_data.current_group }}<br>
                </div>
              </div>
            </div>
            <div class="col-8 p-3 m-0">
              <div class="control-panel-addinc">
                <div class="control-panel-buttons d-flex">
                  <button class="control-panel-btn btn-inc-alright" type="button" name="button">Всё хорошо</button>
                  <button class="control-panel-btn btn-inc-control" type="button" name="button">Контроль</button>
                  <button class="control-panel-btn btn-inc-alert" type="button" name="button">Инцидент</button>
                </div>
                <div class="control-panel-details st-inc-alright d-none">
                  <form method="post" action="{{ url_for('create_incident', building_id=building_id | default('all'), event_type=event_type | default('all')) }}" enctype="multipart/form-data">
                  <input class="d-none" type="text" name="event" class="d-none" value="{{ monitoring_data.current_subject_id }}">
                  <input class="d-none" type="text" name="status" class="d-none" value="0">
                  <input name="cameras_ids" type="text" class="cameras_ids_control d-none" value='{{ cameras_ids }}'>
                  <input class="d-none" type="text" name="visor_id" class="d-none" value="{{ current_user.id }}">
                  <div class="row">
                    <!-- <div class="col-6">
                      <legend>Быстрый ввод</legend>
                      <button class="control-panel-btn" type="button" name="comment" value="Студент(ы) спит(ят)">Студент(ы) спит(ят)</button>
                      <button class="control-panel-btn" type="button" name="comment" value="Преподаватель отсутствует">Преподаватель отсутствует</button>
                      <button class="control-panel-btn" type="button" name="comment" value="Преподаватель спит">Преподаватель спит</button>
                      <button class="control-panel-btn" type="button" name="comment" value="Студенты бездельничают">Студенты бездельничают</button>
                    </div> -->
                    <div class="col-12">
                      <legend>Комментарий:</legend>
                      <textarea class="control-panel-details-textarea" name="comment" rows="6"></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary btn-block mt-2" type="submit" name="button">Отправить информацию</button>
                    </div>
                  </div>
                  </form>
                </div>
                <div class="control-panel-details st-inc-control d-none">
                  <form method="post" action="{{ url_for('create_incident', building_id=building_id | default('all'), event_type=event_type | default('all')) }}" enctype="multipart/form-data">
                  <div class="row">
                    <input type="text" name="cameras_ids" class="cameras_ids_control d-none">
                    <input type="text" name="type_ids" class="type_ids_control d-none">
                    <input class="d-none" type="text" name="event" class="d-none" value="{{ monitoring_data.current_subject_id }}">
                    <input class="d-none" type="text" name="status" class="d-none" value="3">
                    <input class="d-none" type="text" name="visor_id" class="d-none" value="{{ current_user.id }}">
                    <div class="col-12">
                      <fieldset>
                      {% for camera in cameras %}
                        <div class="form-check-inline">
                          <input type="checkbox" id="cam-control-{{ cameras.index(camera) + 1 }}" value="{{ camera.id }}" class="form-check-input" data-group="#camera_g{{ camera.id }}" checked>
                          <label for="cam-control-{{ cameras.index(camera) + 1 }}" class="form-check-label">Камера {{ cameras.index(camera) + 1 }}</label>
                        </div>
                      {% endfor %}
                      </fieldset>
                    </div>
                    <div class="col-6">
                      <fieldset>
                        <legend>Тип инцидента</legend>
                        <div class="form-check">
                          <input id="type-control-1" type="checkbox" name="comment" value="Студент(ы) спит(ят)" class="form-check-input">
                          <label for="type-control-1" class="form-check-label">Студент(ы) спит(ят)</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-2" type="checkbox" name="comment" value="Преподаватель отсутствует" class="form-check-input">
                          <label for="type-control-2" class="form-check-label">Преподаватель отсутствует</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-3" type="checkbox" name="comment" value="Преподаватель спит" class="form-check-input">
                          <label for="type-control-3" class="form-check-label">Преподаватель спит</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-4" type="checkbox" name="comment" value="Студенты бездельничают" class="form-check-input">
                          <label for="type-control-4" class="form-check-label">Студенты бездельничают</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-5" type="checkbox" name="comment" value="Студенты в телефонах" class="form-check-input">
                          <label for="type-control-5" class="form-check-label">Студенты в телефонах</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-6" type="checkbox" name="comment" value="Группа отсутствует" class="form-check-input">
                          <label for="type-control-6" class="form-check-label">Группа отсутствует</label>
                        </div>
                        <div class="form-check">
                          <input id="type-control-7" type="checkbox" name="comment" value="Ошибка в расписании" class="form-check-input">
                          <label for="type-control-7" class="form-check-label">Ошибка в расписании</label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-6">
                      <legend>Комментарий:</legend>
                      <textarea class="control-panel-details-textarea" name="comment" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary btn-block mt-2" type="submit" name="button">Отправить информацию</button>
                    </div>
                  </div>
                  </form>
                </div>
                <div class="control-panel-details st-inc-alert d-none">
                  <form method="post" action="{{ url_for('create_incident', building_id=building_id | default('all'), event_type=event_type | default('all')) }}" enctype="multipart/form-data">
                  <input type="text" name="cameras_ids" class="cameras_ids_inc d-none">
                  <input type="text" name="type_ids" class="type_ids_inc d-none">
                  <input class="d-none" type="text" name="event" class="d-none" value="{{ monitoring_data.current_subject_id }}">
                  <input class="d-none" type="text" name="status" class="d-none" value="2">
                  <input class="d-none" type="text" name="visor_id" class="d-none" value="{{ current_user.id }}">
                  <div class="row">
                    <div class="col-12">
                      <fieldset>
                      {% for camera in cameras %}
                        <div class="form-check-inline">
                          <input type="checkbox" id="cam-inc-{{ cameras.index(camera) + 1 }}" value="{{ camera.id }}" class="form-check-input" data-group="#camera_g{{ camera.id }}" checked>
                          <label for="cam-inc-{{ cameras.index(camera) + 1 }}" class="form-check-label">Камера {{ cameras.index(camera) + 1 }}</label>
                        </div>
                      {% endfor %}
                      </fieldset>
                    </div>
                    <div class="col-6">
                      <fieldset>
                        <legend>Тип инцидента</legend>
                        <div class="form-check">
                          <input id="type-inc-1" type="checkbox" name="comment" value="Студент(ы) спит(ят)" class="form-check-input">
                          <label for="type-inc-1" class="form-check-label">Студент(ы) спит(ят)</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-2" type="checkbox" name="comment" value="Преподаватель отсутствует" class="form-check-input">
                          <label for="type-inc-2" class="form-check-label">Преподаватель отсутствует</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-3" type="checkbox" name="comment" value="Преподаватель спит" class="form-check-input">
                          <label for="type-inc-3" class="form-check-label">Преподаватель спит</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-4" type="checkbox" name="comment" value="Студенты бездельничают" class="form-check-input">
                          <label for="type-inc-4" class="form-check-label">Студенты бездельничают</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-5" type="checkbox" name="comment" value="Студенты в телефонах" class="form-check-input">
                          <label for="type-inc-5" class="form-check-label">Студенты в телефонах</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-6" type="checkbox" name="comment" value="Группа отсутствует" class="form-check-input">
                          <label for="type-inc-6" class="form-check-label">Группа отсутствует</label>
                        </div>
                        <div class="form-check">
                          <input id="type-inc-7" type="checkbox" name="comment" value="Камера не работает" class="form-check-input">
                          <label for="type-inc-7" class="form-check-label">Камера не работает</label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-6">
                      <legend>Комментарий:</legend>
                      <textarea class="control-panel-details-textarea" name="comment" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary btn-block mt-2" type="submit" name="button">Отправить информацию</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="status-log d-flex flex-column overflow-auto">
            {% if not incidents_data %}
            <div class="status d-block">
              <div class="status-head-placeholder d-flex">
                <div class="status-head">Статус</div>
              </div>
              <hr class="mt-0">
              <div class="status-inc-description">
                Пока новых статусов нет
              </div>
            </div>
            {% endif %}
            {% for incident_data in incidents_data  %}
            <div class="status inc-{% if incident_data.status == 0 %}alright {% elif incident_data.status == 2 %}alert {% elif incident_data.status == 3 %}control {% endif %} d-block">
              <div class="status-head-placeholder d-flex">
                {% if incident_data.status == 0 %}
                <img class="d-inline" src="{{ url_for('static', path='img/alright.png') }}" alt="">
                <div class="status-head">Всё хорошо</div>
                {% endif %}
                {% if incident_data.status == 2 %}
                <img class="d-inline" src="{{ url_for('static', path='img/alert.png') }}" alt="">
                <div class="status-head">Инцидент</div>
                {% endif %}
                {% if incident_data.status == 3 %}
                <img class="d-inline" src="{{ url_for('static', path='img/control.png') }}" alt="">
                <div class="status-head">Контроль</div>
                {% endif %}

              </div>
              <hr class="mt-0">
              <div class="status-inc-description">
                <b>Визор:</b> {{ incident_data.current_visor}}<br>
                <b>Время:</b> {{ incident_data.time_created.strftime('%d.%m.%Y %H:%M') }}<br>
                <br>
                <b>Занятие:</b><br>
                {{ incident_data.current_schedule }}<br>
                <b>Преподаватель:</b><br>
                {{ incident_data.current_teacher }}<br>
                <b>Группа:</b><br>
                {{ incident_data.current_group }}<br>
                <br>
                <b>{% if incident_data.status == 2 %}Инцидент{% elif incident_data.status == 3 %}Контроль{% elif incident_data.status == 0 %}Комментарий{% endif %}:</b><br>
                {{ incident_data.comment }}<br>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
