{% extends "mainmenu.html" %}

{% block container %}-xxl{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="attantion">
      <div class="display-4">
        Нет доступных мероприятий для мониторинга.
      </div>
      <hr>
      <div class="display-5">
        Уточните расписание занятий и перерывов в соответствии с графиком или обратитесь в службу поддержки портала.
      </div>
      <br>
      <button type="button" class="btn btn-primary" onClick="window.location.reload();"><b>Обновить страницу</b></button>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Событие</th>
          <th scope="col">Дни недели</th>
          <th scope="col">Время</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Пара №0</td>
          <td>Понедельник</td>
          <td>08:20-08:50</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>08:50-09:00</td>
        </tr>
        <tr>
          <td>Пара №1</td>
          <td>Понедельник</td>
          <td>09:00-10:30</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>10:30-10:50</td>
        </tr>
        <tr>
          <td>Пара №2</td>
          <td>Понедельник</td>
          <td>10:50-12:20</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>12:20-12:40</td>
        </tr>
        <tr>
          <td>Пара №3</td>
          <td>Понедельник</td>
          <td>12:40-14:10</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>14:10-14:30</td>
        </tr>
        <tr>
          <td>Пара №4</td>
          <td>Понедельник</td>
          <td>14:30-16:00</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>16:00-16:20</td>
        </tr>
        <tr>
          <td>Пара №5</td>
          <td>Понедельник</td>
          <td>16:20-17:50</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Понедельник</td>
          <td>17:50-18:00</td>
        </tr>
        <tr>
          <td>Пара №6</td>
          <td>Понедельник</td>
          <td>18:00-19:30</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Пара №1</td>
          <td>Вторник - Пятница</td>
          <td>08:30-10:00</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Вторник - Пятница</td>
          <td>10:00-10:20</td>
        </tr>
        <tr>
          <td>Пара №2</td>
          <td>Вторник - Пятница</td>
          <td>10:20-11:50</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Вторник - Пятница</td>
          <td>11:50-12:10</td>
        </tr>
        <tr>
          <td>Пара №3</td>
          <td>Вторник - Пятница</td>
          <td>12:10-13:40</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Вторник - Пятница</td>
          <td>13:40-14:00</td>
        </tr>
        <tr>
          <td>Пара №4</td>
          <td>Вторник - Пятница</td>
          <td>14:00-15:30</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Вторник - Пятница</td>
          <td>15:30-15:50</td>
        </tr>
        <tr>
          <td>Пара №5</td>
          <td>Вторник - Пятница</td>
          <td>15:50-17:20</td>
        </tr>
        <tr>
          <td>Перерыв</td>
          <td>Вторник - Пятница</td>
          <td>17:20-17:30</td>
        </tr>
        <tr>
          <td>Пара №6</td>
          <td>Вторник - Пятница</td>
          <td>18:15-19:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
