{% extends "base.html" %}



{% block content %}
<table id="data" class="cell-border compact stripe">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Адрес</th>
                <th>Образовательная организация</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
            <tr>
                <td><a href="/buildings/{{ building.id }}/classrooms">{{ building.name }}</a></td>
                <td>{{ building.location }}</td>
                <td>ГБПОУ ИТ.МОСКВА</td>
                <th><a href="/buildings/{{ building.id }}/classrooms"><i class="fa fa-eye" aria-hidden="true"></i></a></th>
            </tr>
            {% endfor %}
        </tbody>

</table>
{% endblock %}
