{% extends "mainmenu.html" %} {% block title %}{{ building.name }}. Кабинет {{classroom.name }} {% endblock %} {% block breadcrubs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('page_get_buildings_page') }}">Учебные корпуса</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('page_get_building_classrooms_map_page', id=building.id) }}">{{ building.name }}.
                Карта</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ building.name }}. Кабинет {{ classroom.name }}
        </li>
    </ol>
</nav>
{% endblock %} {% block content %}
<script defer src="{{ url_for('static', path='js/reader.js') }}"></script>
<script>
    function getCookie(name) {
        const cookieValue = document.cookie
            .split("; ")
            .find((row) => row.startsWith(`${name}=`))
            ?.split("=")[1]; // The optional chaining operator (?) is used here

        return cookieValue || null;
    }
    const access_token = getCookie("jwt_access_token");
    // console.log(token);
</script>

<div class="flex justify-center mb-5 text-3xl">Камеры {{ classroom.name }}</div>

<div class="row">
    {% for camera in cameras %}
    <div class="col-6 mt-1 mb-1 video-monitoring">
        <video id="camera_{{ camera.id }}" controls muted autoplay></video>
        <script>
            let reader_{{ camera.id }} = null;

            window.addEventListener("load", () => {
                reader_{{ camera.id }} = new MediaMTXWebRTCReader({
                url: "https://{{ request.base_url.hostname }}/media/{{ camera.id }}/whep",
                token: access_token, // fill if needed
                onError: (err) => {
                    console.error(err);
                },
                onTrack: (evt) => {
                    document.getElementById("camera_{{ camera.id }}").srcObject = evt.streams[0];
                },
                onDataChannel: (evt) => {
                    evt.channel.binaryType = "arraybuffer";
                    evt.channel.onmessage = (evt) => {
                        console.log("data channel message", evt.data);
                    };
                },
            });
            });

            window.addEventListener("beforeunload", () => {
                if (reader !== null) {
                    reader.close();
                }
            });
        </script>
    </div>
    {% endfor %}
</div>

<!--
<div class="flex justify-center mb-5 text-3xl">
    Камеры {{ classroom.name }}
</div>
<div class="container">
    <div class="row">
        {% for camera in cameras %}
            <div class="col">
                <img src="/camera_view/{{ camera.id }}" width="1024" class="img-fluid">
            </div>
        {% endfor %}
    </div>
</div> -->
{% endblock %}