{% extends "base.html" %}


{% block content %}
<div class="flex justify-center mb-5 text-3xl">
    Камеры {{ classroom.name }}
</div>
<div class="container">
    <div class="row">
        {% for camera in cameras %}
            <div class="col">
                <img src="http://127.0.0.1:8000/pages/camera_view/{{ camera.id }}" width="1024" class="img-fluid">
                <!-- <span><a href="/pages/camera_view/{{ camera.id }}">{{ camera.view }}</a></span> -->
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

