{% extends "base.html" %}

{% block head %}
    <script>
        async function loginUser() {
            const wrongCredentialsSpan = document.getElementById("wrong_credentials");
            wrongCredentialsSpan.textContent = "";

            const url = "http://localhost:8000/api/users/login";
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            await fetch(url, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({email: email, password: password}),
            }).then(response => {
                if (response.status === 200) {
                    window.location.href = "/pages/buildings"
                } else {
                    wrongCredentialsSpan.textContent = "Неверный email или пароль";
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="flex justify-center mb-10 text-3xl">
    Камеры {{ classroom.name }}
</div>
<div class="container">
    <div class="row">
        {% for camera in cameras %}
            <div class="col">
                <span><a href="/pages/classroom_cameras_view/{{ classroom.id }}">{{ camera.view }}</a></span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

