{% extends "mainmenu.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <div class="card widget-dashboard">
      <h5>Количество инцидетов</h5>
      <hr>
    </div>
  </div>
  <div class="col-6">
    <div class="card widget-dashboard">
      <h5>Занятий по расписанию</h5>
      <hr>
    </div>
  </div>
  <div class="col-12">
    <div class="card widget-dashboard">
      <h5>Количество инцидетов по корпусам</h5>
      <hr>
    </div>
  </div>
  <div class="col-12">
    <div class="card widget-dashboard">
      <h5>Категории инцидентов</h5>
      <hr>
    </div>
  </div>
  <div class="col-12">
    <div class="card widget-dashboard">
      <h5>Динамика инцидетов</h5>
      <hr>
    </div>
  </div>
</div>

{% endblock %}
