{% extends "mainmenu.html" %}

{% block title %}Инциденты{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', path='js/datatables.min.js') }}"></script>
  <script type="text/javascript">
    $.fn.dataTable.ext.buttons.today = {
      text: 'Сегодня',
      action: function ()
      {
          window.location.href = "{{ url_for('page_get_incidents_page')}}?date_from=" + getCurrentDay().start + "&date_to=" + getCurrentDay().end;
      }
    };
    $.fn.dataTable.ext.buttons.week = {
      text: 'На этой неделе',
      action: function ()
      {
          window.location.href = "{{ url_for('page_get_incidents_page')}}?date_from=" + getCurrentWeek().start + "&date_to=" + getCurrentWeek().end;
      }
    };
    $.fn.dataTable.ext.buttons.month = {
      text: 'В этом месяце',
      action: function ()
      {
          window.location.href = "{{ url_for('page_get_incidents_page')}}?date_from=" + getCurrentMonth().start + "&date_to=" + getCurrentMonth().end;
      }
    };
    $.fn.dataTable.ext.buttons.all = {
      text: 'Все инциденты',
      action: function ()
      {
          window.location.href = "{{ url_for('page_get_incidents_page')}}";
      }
    };

    var table = new DataTable('#data', {
    lengthMenu: [
       { label: '10', value: 10 },
       { label: '25', value: 25 },
       { label: '50', value: 50 },
       { label: '100', value: 100 },
       { label: '500', value: 500 },
       { label: '1000', value: 1000 },
       { label: 'Показать все', value: -1 }
     ],
    layout: {
        topEnd: {
            buttons: ['excel', {
              text: '<i class="fa fa-filter" aria-hidden="true"></i>',
              action: function () {
              },
              split: ['today', 'week', 'month', 'all']
            }]
        }
    },
    columnControl: [
        'order',
        [
            'search',
            'spacer',
            {
                extend: 'dropdown',
                icon: 'columns',
                text: 'Change columns',
                content: ['colVis']
            }
        ]
    ],
    ordering: {
        indicators: false,
        handler: false
    }
  });

  var filteredData = table
    .column(5)
    .data()
    .filter(function (value, index) {
        return value > 20 ? true : false;
    });

  </script>
  <script type="text/javascript">
    function setTextById(id, text, useHTML = false) {
      const el = document.getElementById(id);
      if (!el) {
        console.warn(`Element with id="${id}" not found`);
        return false;
      }
      if (useHTML)
        el.innerHTML = text;
      else
        el.textContent = text;
      return true;
    }

    const pad = n => String(n).padStart(2, '0');
    const formatDate = d => {
      const D = new Date(d);
      return `${D.getFullYear()}-${pad(D.getMonth()+1)}-${pad(D.getDate())}`;
    };

    // 1) Текущий день
    function getCurrentDay(now = new Date()) {
      const cur = new Date(now);
      const date = formatDate(cur);
      return { start: date, end: date };
    }

    // 2) Текущая неделя (weekStartsOn: 0=Sun,1=Mon,...)
    function getCurrentWeek(now = new Date(), weekStartsOn = 0) {
      const cur = new Date(now);
      const wDay = cur.getDay();
      const diff = (wDay - weekStartsOn + 7) % 7;
      const weekStart = new Date(cur.getFullYear(), cur.getMonth(), cur.getDate() - diff);
      const weekEnd = new Date(weekStart.getFullYear(), weekStart.getMonth(), weekStart.getDate() + 6);
      return { start: formatDate(weekStart), end: formatDate(weekEnd) };
    }

    // 3) Текущий месяц
    function getCurrentMonth(now = new Date()) {
      const cur = new Date(now);
      const monthStart = new Date(cur.getFullYear(), cur.getMonth(), 1);
      const monthEnd = new Date(cur.getFullYear(), cur.getMonth() + 1, 0);
      return { start: formatDate(monthStart), end: formatDate(monthEnd) };
    }
  </script>
{% endblock %}

{% block content %}
  <table id="data" class="display">
      <thead>
          <tr>
              <th>Дисциплина</th>
              <th>Дата и время</th>
              <th>Корпус, Кабинет</th>
              <th>Преподаватель</th>
              <th>Визор</th>
              <th>Комментарий</th>
              <th>Статус</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for incident in incidents %}
          <tr>
              <td><a href="{{ url_for('page_get_incident_by_id_page', id=incident.id) }}">{{ incident.subject }}</a></td>
              <td>{{ incident.time_created.strftime('%d.%m.%Y %H:%M') }}</td>
              <td class="text-center">{{ incident.building_name }}, {{ incident.classroom_name }}</td>
              <td>{{ incident.teacher_name }}</td>
              <td class="text-center">{{ incident.visor_name }}</td>
              <td class="text-center">{{ incident.comment }}</td>
              <td class="text-center">
                {% if incident.status == 0 %}
                  <span class="badge badge-success">Всё хорошо</span>
                {% elif incident.status == 3 %}
                  <span class="badge badge-warning">Контроль</span>
                {% else %}
                  <span class="badge badge-danger">Инцидент</span>
                {% endif %}
              </td>
              <th class="text-center">
                {# for camera_id in incident.cameras_ids #}
                  <a href="{{ url_for('get_screenshot_by_ids').include_query_params(incident_id=incident.id, camera_id=camera_id) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                {# endfor #}
              </th>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
