{% extends "base-without-mainmenu.html" %}

{% block title %}{{ building.name }}. Карта {% endblock %}

{% block content %}
  <h2>{{ building.name }}. Карта </h2>
  <hr>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
  </div>
  <hr>
  <div class="scheme">
    <img src="{{url_for('static', path='buildings/1/1_1.svg')}}" alt="">
    <svg>
      {% for classroom in classrooms %}
        <polygon data-id="{{classroom.id}}" points="{{classroom.polygon_map}} "></polygon>
      {% endfor %}
    </svg>
    {% for classroom in classrooms %}
    <div class="scheme-item" data-id="{{classroom.id}}" style="top: 319px; left: 71px;">
      <div class="scheme-name">{{classroom.name}}</div>
      <div class="scheme-popup">
        Текст
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
