{% extends "mainmenu.html" %}

{% block title %}Расписание занятий{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', path='js/datatables.min.js') }}"></script>
  <script type="text/javascript">
    new DataTable('#data');
  </script>
{% endblock %}

{% block content %}
      <table id="data" class="cell-border compact stripe">
              <thead>
                  <tr>
                      <th>Наименование дисциплины</th>
                      <th>Дата, время</th>
                      <td>Группа</td>
                      <td>Учебный корпус</td>
                      <th>Кабинет</th>
                      <th>Преподаватель</th>
                      <th>Статус</th>
                      <td></td>
                  </tr>
              </thead>
              <tbody>
                  {% for schedule in schedules %}
                  <tr>
                      <td>{{ schedule.subject }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
      </table>

{% endblock %}
