body {
  font-family: "Montserrat";
  background-color: #333333;
  color: #FFFFFF !important;
}
p, h1, h2, h3, h4, h5 {
  color: #FFFFFF;
}

a {
  color: #5582FF;
}
a:hover {
  color: #FFFFFF;
}

button:focus {
  outline: none;
}

#clock {
  color: #FFFFFF;
  font-size: 20px;
}

.avatar-placeholder {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #555555;
}
.avatar-placeholder img{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.lk-link {
	margin: 0 10px 0 0;
	text-align: end;
}
.logo-itmoscow-min {
  width: 130px;
}
.video-wall {
  width: 100%;
  height: calc(60vh - 80px - 56px);
  background-color: #000;
}
.video-wall-string {
  width: 100%;
  height: 50%;
  background-color: #000;
  margin: auto;
}
.video{
  width: 50%;
  height: 100%;
  margin: auto;
}
/* .video img{
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
} */
.video video{
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.camera_num_title {
	background-color: rgba(50,50,50,0.5);
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 25px;
	font-size: 1.5em;
  margin: 10px;
}
.camera_num_title h5 {
  margin: auto;
}

.status-log {
  background-color: #222222;
  width: 100%;
  height: calc(100vh - 80px - 56px);
}

.status {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin: 5% 5% 0 5%;
  background: #777777;
}
.status-head, .control-panel-meta-head {
  font-size: 25px;
}
.status.inc-alright {
  background: linear-gradient(to bottom, #2c7b29, #4fb84f);
}
.status-head-placeholder img{
  width: 30px;
  height: 30px;
  padding: 2px;
}
.status.inc-control {
  background: linear-gradient(to bottom, #b9b02f, #e8d96a);
}
.status.inc-alert {
  background: linear-gradient(to bottom, #b62b20, #cb5343);
  color: #FFF;
}
.status.inc-alert hr, .control-panel-meta hr{
    background-color: #FFF;
}
.status.inc-control hr, .status.inc-alright hr{
    background-color: #333;
}
.control-panel-meta {
  background-color: #444;
  color: #FFF;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}
.control-panel-meta-data {

}
.control-panel-addinc {
	background-color: #444;
	color: #FFF;
	border-radius: 10px;
  width: 100%;
  padding-bottom: 1%;
}
.control-panel-btn {
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  padding: 5px 0;
}
.control-panel-btn.btn-inc-alright {
  background-color: #3e9d3f;
  width: 33% !important;
  margin: 10px;
}
.control-panel-btn.btn-inc-control {
  background-color: #d0c34f;
  width: 33% !important;
  margin: 10px;
}
.control-panel-btn.btn-inc-alert {
  background-color: #c04736;
  color: #FFF;
  width: 33% !important;
  margin: 10px;
}
.control-panel-details {
  position: relative;
  background-color: #777;
  color: #FFF;
  border-radius: 10px;
  padding: 30px 15px 15px 15px;
  margin: 0 1% 0 1%;
  width: 98%;
}

.control-panel-details.st-inc-alright {
  background: linear-gradient(to bottom, #3e9d3f 2%, #4a4a4a 6%, #4a4a4a 92%);
}

.control-panel-details.st-inc-control {
  background: linear-gradient(to bottom, #d0c34f 2%, #4a4a4a 6%, #4a4a4a 92%);
}

.control-panel-details.st-inc-alert {
  background: linear-gradient(to bottom, #c04736 2%, #4a4a4a 6%, #4a4a4a 92%);
}

.control-panel-details-textarea {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

/* Модальные окна */
.modal-content {
  background-color: #222222 !important;
}
.modal-body img {
  width: 100% !important;
}
.control-panel-details {
  position: relative;
}

/*Треугольник*/
.control-panel-details::before {
  content: '';
  position: absolute;
  top: -10px;
  left: var(--arrow-left, 50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.control-panel-details.st-inc-alright::before {
  border-bottom-color: #3e9d3f;
}

.control-panel-details.st-inc-control::before {
  border-bottom-color: #d0c34f;
}

.control-panel-details.st-inc-alert::before {
  border-bottom-color: #c04736;
}

.control-panel-details.st-inc-alright .control-panel-btn.active {
  border: 3px solid #3e9d3f;
}

.control-panel-details.st-inc-control .control-panel-btn.active {
  border: 3px solid #d0c34f;
}

.control-panel-details.st-inc-alert .control-panel-btn.active {
  border: 3px solid #c04736;
}

/* Авторизация */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo-signin {
  margin: 40px 0;
}
.logo-signin strong{
  font-size: 30px;
  color: #FFF;
}

@media (min-width: 1500px) {
  .container-xxl {
    width: 1606px;
    margin-left: auto;
    margin-right: auto;
  }
}

.card.menu {
  background-color: #444 !important;
}
.card.menu a{
  color: #FFF;
}

.card.menu a:hover{
  color: #5582FF;
}

/* Maps */

.scheme {
	width: 1100px;
	margin: 0 auto;
	position: relative;
  height: 100%;
}
.scheme svg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: inherit;
	width: inherit;
}
.scheme polygon {
	fill: rgba(100,100,100,0.1);
	cursor: pointer;
}
.another-classroom{
  color: #ff9330 !important;
}

/* Названия и подсказки */
.scheme-item {
	position: absolute;
	cursor: pointer;
}
.scheme-name {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	line-height: 13px;
}
.scheme-popup {
	display: none;
	border: 1px solid #777;
	padding: 10px;
	width: 200px;
	position: absolute;
	font-size: 12px;
	line-height: 14px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: left;
}

.widget-dashboard {
	background-color: #414141 !important;
	margin: 10px 10px 0 10px;
	padding: 20px;
}

.attantion {
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}

/* breadcrumb */

.breadcrumb {
  background-color: #414141 !important;
}
.breadcrumb-item.active {
	color: #fff !important;
}

/* VideoWall */

.videowall-monitoring{
  height: calc(100vh - 136px);
}
.video-monitoring{
  background: #000;
  border: 1px #333 solid;
  height: calc((100vh - 136px)/3);
}

.video-monitoring video{
  width: inherit;
  height: inherit;
}
.dt-button-create {
	background-color: #009800 !important;
	border-radius: .25rem !important;
}
.dt-button-create:hover {
	background-color: #00AC00 !important;
	border-radius: .25rem !important;
}


/*----------------------- Выезжающее меню ------------------------------ */

.content {
   margin: 0 auto 20px;
   max-width: 680px;
   padding: 0 3%;
}
p {
   font-size: 110%;
   line-height: 1.5;
   margin: 4px;
}
.slide_container {
   width: 100%;
   position: fixed;
   top: 81px;
   z-index: 999;
}
#menu {
   padding: 10px 0;
   border-bottom: solid 5px #333333;
   background: #111;
   display: none;
   left: 0;
   right: 0;
   margin: 0 auto;
}
#menu ul {
   overflow: hidden;
   margin: 0 auto;
   padding: 0;
   max-width: 800px;
   width: 100%;
}
#menu li {
   padding: 0;
   width: 100%;
}
#menu li a {
    display: block;
    color: #CCC;
     font-size: 18px;
}
#menu li a:hover {
   color: #FFF;
}
#btn {
   margin: 0 auto;
   width: 200px;
   height: 30px;
   border-radius: 0 0 5px 5px;
   background: #333333;
   cursor: pointer;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 1;
}
#btn span {
   position: relative;
   top: 12px;
   left: 50%;
   display: block;
   margin-left: -25px;
   width: 50px;
   height: 5px;
   border-radius: 5px;
   background: #fff;
   box-shadow: inset 1px 1px 2px #ddd;
}
.layer {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
   opacity: 0.5;
   z-index: 300;
}
@media screen and (max-width: 480px) {
  #menu {
   padding: 5%;
  }
  #menu li {
   width: 100%;
  }
  #menu li a {
   border-top: none;
  }
  #menu li a:hover {
   margin-top: -1px;
  }
}
.fixed {
  position:fixed; /*позицианируем чтобы исчез скролл*/
  width:100%; /*что бы верстка не складывалась по ширине*/
}
.logo-menu img{
  width: 100%;
  filter: saturate(0);
}
