{% extends "base.html" %}

{% block mainmenu %}

<a class="dropdown-item" href="{{ url_for('page_get_dashboard_page') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
<a class="dropdown-item" href="{{ url_for('page_get_videowall_page') }}"><i class="fa fa-television" aria-hidden="true"></i> VideoWall</a>
<a class="dropdown-item" href="{{ url_for('page_get_buildings_page') }}"><i class="fa fa-building-o" aria-hidden="true"></i> Учебные корпуса</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{{ url_for('page_get_active_monitoring', event_type=0) }}"><i class="fa fa-video-camera" aria-hidden="true"></i> Активный мониторинг</a>
<div id="active-monitoring-buildings-list">
 Загрузка...
 <a class="dropdown-item" href="{{ url_for('page_get_active_monitoring', event_type=1) }}"><i class="fa fa-video-camera" aria-hidden="true"></i>ГИА</a>
</div>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{{ url_for('page_get_schedules_buildings_page') }}"><i class="fa fa-calendar" aria-hidden="true"></i> Расписание</a>
<a class="dropdown-item" href="{{ url_for('page_get_incidents_page') }}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Инциденты</a>


<script type="text/javascript">
  window.addEventListener('load', () => {



    let url = "{{ url_for('get_all_buildings') }}";
    let buildings_list = fetch(url)
          .then(response => response.json())
          .then(result => {
            let parent = document.querySelector('#active-monitoring-buildings-list');
            document.getElementById('active-monitoring-buildings-list').innerHTML = '';
            console.log(result);
            for (const building of result) {
              let dropdown_item = document.createElement('a');
              dropdown_item.setAttribute('class','dropdown-item');
              dropdown_item.setAttribute('href',"{{ url_for('page_get_active_monitoring', event_type=0) }}&building_id=" + building['id']);
              dropdown_item.textContent = building['name'];
              parent.appendChild(dropdown_item);
            };
          });
  });
</script>
{% endblock %}
